/* Body Styles */
body {
    background-color: #fff;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    font-family: 'Merriweather', serif;
}

/* Header Styles */
.header {
    background-color: #477bff;
    color: #fff;
    padding: 2rem 1rem;
    text-align: center;
}

.header h1 {
    font-family: 'Sacramento', cursive;
    margin-top: 50px;
}

/* Container Styles */
.container {
    background-color: #87CEEB;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.triva-button {
    font-family: 'Babylonica', cursive;
    font-size: 72px;
    height: 200px;
    text-align: center;
    width: 800px;
}


.container .triva-button:hover {
    cursor: pointer;
}

/* Footer Styles */
.bottom-container {
    background-color: #477bff;
    color: white;
    padding: 50px 0 20px;
}

/* General Styles */
button, input[type="submit"] {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

input[type="text"] {
    line-height: 1.8;
    width: 25%;
}

input[type="text"]:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

.navbar {
    font-family: 'Merriweather', serif;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
}

.section:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

/* Contact Styles */
.contact {
    margin-left: 20px;
}

.contact .contact-button {
}

.contact .contact-button:hover {
    cursor: pointer;
}

/* Home Styles */
.home {
    text-align: center;
}

/* Hobbies Styles */
.hobbies {
    text-align: center;
}

/* Footer Spacing */
.footer_spacing {
    margin-bottom: 200px;
}

/* Copyright */
.footer_spacing {
    color: #EAF6F6;

